.user-list {
  display: flex;
  flex-direction: row;
}

.user {
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  background-color: #242526;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 3px 2px;
  color: white;
  display: flex;
}

.user h1 {
  font-size: 20px;
}

.buttontest {
  color: #fff;
  background-color: #17a2b8;
  border: 1px solid #fff;
  display: inline-block;
  padding: 4px 0px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border-radius: 4px;
  width: 125px;
  margin-top: 5px;
  cursor: pointer;

}
.buttontest:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.position-group {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.QB {
  color: #FF6961;
  border: 1px solid #FF6961;
}

.RB {
  color: #56AE57;
  border: 1px solid #56AE57;
}

.WR {
  color: #779ECB;
  border: 1px solid #779ECB;
}

.TE {
  color: #b9b920;
    border: 1px solid #b9b920;
}